ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1520", RUN+="/usr/sbin/usb_modeswitch -v 12d1 -p 1465 -W -M 55534243000000000000000000000011060000000000000000000000000000"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="12d1", ATTR{idProduct}=="1465", ATTR{bInterfaceNumber}=="5",RUN+="/usr/local/sbin/huawei-probe %s{idVendor} %s{idProduct}"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1465", ENV{ID_MM_DEVICE_IGNORE}="1"
